body{
    background-color: #f9faf7;
    display: flex;
}
.brain{
    margin-top: 200px;
}
.logo{
        position: absolute;
    margin-left: 600px;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #e7602e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 400px;
    margin-left: 200px;
    position: absolute;
        
  }
  
  .btn:hover {
    background: #050505;
    text-decoration: none;
  }
  #footer {
    font-size: 14px;
    background: #dc2f02;  
    position: absolute;  
    margin-top: 700px ;
  }
 